
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
    <div class="banner">
        <a href="@Url.Action("Home","Product")"></a>
    
        <img src="~/Content/logo.png" alt="Banner">
        </a>
    </div>
</body>
</html>
    