body {
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

.container {
    text-align: center;
    padding: 20px;
}

table {
    display: inline-block;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .form-container form {
        margin-right: 10px;
    }

    .form-container div {
        margin-right: 10px;
    }

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
